

/*=========================
Common File Start 
 ============================== */
 * {
    margin: 0;
    font-family: 'Poppins', sans-serif;
   
}
body{
    width:1300px;
    margin: 0 auto;
}
.primary-color-gradient{
   background: linear-gradient(to bottom, rgb(240, 3, 200), rgb(179, 9, 247));
   -webkit-text-fill-color: transparent;
   font-size: 2em;
    -webkit-background-clip: text;
    font-weight: bolder;
    border-radius:20px;
   
}
.primary-button{
    padding:10px 20px;
    font-size: 1.5em;
    margin: 1em 0;
    background-color: rgb(238, 6, 180);
    border-radius: 20px;
    border: 0;
    color: white;
}
.blue{
    background-color: blue;
}
/*=========================
Common File End
 ============================== */
/*=========================
 Navbar Section start 
 ============================== */
 nav{
    display:flex;
    justify-content: space-around;
    padding-top: 2rem;
 }
 .icon-image, ul{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .icon-image img{
    width:100%;
 }
 ul>li{

list-style-type: none;
margin-left: 2em;
font-size: 1em;
    
 }
 .follow-us{
    padding: 5px 15px;
    background-color: gainsboro;
    border-radius: 5px;
 }
 .font-icon{
    
    color: red;
 }
/*=========================
 Navbar Section End 
 ============================== */
/*=========================
 Header Section start 
 ============================== */
 header{
    background-image: url('../images/Group\ 14.png');
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 2em;
   
 }
 .header-img img{
  width:80%;
 }
.header-text{
    width: 50%;
   
    padding-left: 10em;
   
    
}
.header-img{
    width: 50%;
}
/*=========================
 Header Section end
 ============================== */
/*=========================
 We Are Gamer Section Start
 ============================== */
 .we-are-gamer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    margin: 5em 0;
    padding: 0 10em;
 }
 .we-are-gamer-img{
    width:60%;
 }
 .we-are-gamer-img img{
    width:100%;
 }
 .we-are-gamer-title{
    width: 40%;
 }

 .text-overflow {
    display: flex;
    justify-content: end;
 }

 .text-overflow p{
    width: 100px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
 }

/*=========================
 We Are Gamer Section end
 ============================== */
/*=========================
 Online Gamer Section Start
 ============================== */
 .online-game-text{
    text-align:center;
 }
 .online-game-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding:5em 10em;
 }
 
 .card img{
    width:100%;
    height: 100%;
 }

/*=========================
 Online Gamer Section end
 ============================== */
/*=========================
 Play Instantly Section Start
 ============================== */
 .play-instantly{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5em 10em;
 }
 
 .play-instantly-img{
    width:50%;
    position: relative;
 }

 .play-instantly-img img{
    width:100%;
   }

 .play-instantly-text{
    padding:0 5em;
    width:50%;
 }
 .play-instantly-font{
    font-size: 2em;
 }

 .play-instantly-over-pic{
    position: absolute;
    bottom:-30px;
    left:-50px;
    width:200px;
    height: 250px;
 }
 
 .play-instantly-over-pic img{
    width:100%;
    height:100%;
 }
/*=========================
 Play Instantly Section end
 ============================== */



/*=========================
 Footer Section Start
 ============================== */
.footer-section {
    background-color: black;
    color: white;
    height: 20em;
    margin-top: 5em;
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.copy-right {
    margin-top: 5em;
}

/*=========================
 Footer Section End
 ============================== */